* {
  margin: 0;
  padding: 0;
  border: 0;
}

.margin {
  margin: 75% 0;
}

.background {
  background: url( 
    https://i.imgur.com/WQBtl05.png)
    repeat fixed 100%;
}

.foreground {
  padding-top: 30%;
  padding-bottom: 30%;
}




/* .galaxy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  background-image: url( 
    https://i.imgur.com/WQBtl05.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

