.ball-body {
  margin: 0;
  background-color: rgb(200, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 325px;
  border-radius: 20px;
  box-shadow: 0 25px 40px -20px #808080;
}

svg {
  border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}
p {
  color: #aaa;
  text-align: center;
  margin: 2em 0;
}