.container {
  align-items: stetch;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.uploading-thoughts {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.journal {
  margin-bottom: 10%;
}

.mood-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 20%;
}

.your-thought {
  display: flex;
  justify-content: center;
  flex-direction: column;
}