.return-home {
  border: none;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15%;
}

.return-home:hover {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  text-decoration: none;
  border-bottom:none;
  color: var(--primary);
}

.fas {
  height: 100px;
  width: 100px;
}