.return-home {
  border: none;
}

.navigation {
  align-items: center;
  /* display: flex;
  height: 100%;
  width: 100%; */
  margin-left: 10%;
  margin-top: -15%;
  /* justify-content: start;
  flex-direction: column; */
  margin-bottom: 15%;
  background-color: inherit;
  position: sticky;

}

.return-home:hover {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  text-decoration: none;
  border-bottom:none;
  color: var(--primary);
}

.fas {
  height: 100px;
  width: 100px;
}