* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.draggable-main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f0f0f0;
}

.content {
  position: relative;
  width: 320px;
  height: 240px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 90px;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  line-height: 90px;
  font-size: 14.5px;
  background: lightblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

.content > div:nth-child(1) {
  background: var(--third);
  color: var(--third);
}
.content > div:nth-child(2) {
  background: var(--secondary);
  color: var(--secondary);
}
.content > div:nth-child(3) {
  background: var(--fourth);
  color: var(--fourth);
}
.content > div:nth-child(4) {
  background: var(--primary);
  color: var(--primary);
}

.content > div:nth-child(5) {
  background: var(--fifth);
  color: var(--fifth);
}




