body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
a:link {
  color: #FBA7A7;
}

a:visited {
  color: #DB7D7D;
  border-bottom: 1px solid #b3b3b3;
}
a:hover {
  color: #FBA7A7;
  border-bottom: 1px solid #DB7D7D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
